/* aloglia autocomplete.js styles */

.algolia-autocomplete {
  width: 100%;
  display: flex;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: calc(100% - 15px);
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
  /* position: absolute; */
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

/* main styles */

body {
  display: flex;
  font-family: "Avenir Next W01", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body,
#viewDiv {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  flex: auto;
  overflow: hidden;
}

#sidebar {
  min-width: 340px;
  max-width: 400px;
  height: 100%;
  padding: 20px;
  /* margin: 0px 12px; */
  flex: auto;
  border-right: 2px solid gray;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebarItems {
  display: flex;
  flex-direction: column;
}

#sidebarItems > * {
  flex: auto;
  margin-bottom: 10px;
}

#sidebarItems:first-child {
  margin-top: 10px;
}

.sidebarItemHeader {
  font-weight: bold;
  /* position: relative; */
}

#datasetName {
  font-size: 24px;
}

#recordCount {
  margin-left: 12px;
  color: #828282;
}

#widgets {
  /* padding: 0; */
  margin: 0;
}

.widget {
  outline: 2px solid gray;
  padding: 10px;
  margin: 12px 0px;
}

.histogramWidget {
  height: 80px;
  width: 90%;
  padding-left: 5%;
  padding-bottom: 5px;
}

.miniHistogram {
  height: 20px;
}

.widgetLabel {
  font-size: .9em;
}

#stylingAttribute {
  margin: 10px;
  list-style-position: inside;
}

#resultsTable {
  position: absolute;
  right: 0px;
  font-size: 12px;
  color: white;
  background-color: black;
  border: 2px solid white;
  display: inline-table;
  padding: 10px;
  box-shadow: none;
}

#filterAttributeList {
  height: auto;
  max-height: 10.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  padding-right: 10px;
  border: 1px solid lightgray;
}
#styleAttributeList {
  height: auto;
  max-height: 10.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  padding-right: 10px;
  border: 1px solid lightgray;
}

#filtersList {
  height: auto;
  /* min-height: 10em; */
  /* max-height: 20.5em; */
  line-height: normal;
  overflow-x: hidden;
  margin: 0;
  overflow: visible;
  /* border: 1px solid lightgray; */
}

.filterDiv {
  position: relative;
  font-size: 14px;
  margin: 5px 0px 10px 0px;
  padding: 3px;
  border: 1px solid lightgray;
  /* box-shadow: 2px 2px 5px lightgrey; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#filterResults {
  outline: 1px solid lightgray;
}

.attribute {
  color: black;
  margin-left: 5px;
}

/* hide bullet */
.attribute:hover::before, .attribute::before{
  display: none;
}
.attributeRange {
  color: #227cb4;
  font-size: .7em;
  margin-left: 5px;
}

.filterIcons {
  position: absolute;
  float: right;
  margin: -3px -2px 3px 0;
  white-space: nowrap;
  right: 0px;
  z-index: 1;
}

.filterIcons:hover {
  color: white;
  background-color: darkred;
  cursor: pointer
}

.filterIcons:hover .tooltip {
  display: inline;
}

#attributeSearch {
  margin: 0;
  /* padding: 0; */
}

#attributesCount {
  float: right;
}

.tooltip {
  display: none;
  color: black;
  background-color: white;
  outline: 2px solid red;
  z-index: 100;
  padding: 2px;
  margin: -2px 2px;
}

.sectionHead {
  font-weight: bold;
  /* margin-bottom: -10px; */
}

#filtersCount {
  float: right;
}

.valueListWidget {
  white-space: nowrap;
  position: relative;
}
.valueListWidget label {
  padding: 4px 0px;
  overflow-y: auto;
  height: 100%;
}

.valueListWidget label > .subText {
  margin-left: 8px;
  color: #828282;
  font-size: 14px;
}

.valueListWidget > .valueListCheckbox {
  /* display: inline-block; */
}

.valueListCheckbox {
  overflow-x: hidden;
  display: flex;
  font-size: 13px;
}

.valueListCheckbox > calcite-checkbox {
  top: 2px;
  margin-right: 2px;
  margin-left: 4px;
}

.valueListWidget label:hover .subText {
/*     display: inline; */
}

.valueListSearchBox {
  font-family: "Avenir Next W01", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  z-index: 10000;
  /* margin: 4px; */
}

.valueListSearchBoxWrapper {
  /* position: absolute; */
  /* overflow: visible; */
}

.valueListSideLink {
  position: absolute;
  margin-top: 2px;
  right: 10px;
  display: none;
  float: right;
  color: #005e95; /* calcite dark-blue */
}

.valueListWidget *:hover > .valueListSideLink {
  display: inline;
}

#label {
  font-size: 16px;
  margin-bottom: 2px;
  display: inline-block;
}

.inactive {
  color: #666;
  background-color: #ddd;
}

:focus {
  border: 2px solid blue;
}

.hidden {
  visibility: hidden;
}

#status {
  position: absolute;
  bottom: 0px;
  border: 2px solid gold;
  padding: 10px;
  background: white;
  font-size: 18px;
}

#keyStatus, #modeStatus, #focusStatus {
  padding: 10px;
  /* margin-left: 20px; */
}

#keyboardModeMenu {
  outline: 2px solid gray;
  background-color: #ddd;
  padding: 4px;
}

#keyboardModeMenu > button {
  height: 15px;
}

#keyboardModeAlert {
  position: absolute;
  right: 0px;
  width: 200px;
  /* height: 50px; */
  background-color: white;
  font-size: 18px;
  border: 2px solid gold;
  padding: 3px;
}

.flashMe {
  animation: flash .5s forwards linear normal;
}
@keyframes flash {
  0% {
    background:cornflower;
  }
  100% {
    background:none;
  }
}